# Use this as a template and create .env file

# Choose LLM Provider: "ollama" or "openai"
LLM_PROVIDER=ollama

# Ollama Settings
OLLAMA_MODEL_NAME=gemma4:31b
OLLAMA_BASE_URL=https://ollama.com/api
OLLAMA_NUM_CTX=32768
OLLAMA_API_KEY=

# OpenAI Settings (Optional for future use)
OPENAI_API_KEY=
OPENAI_MODEL_NAME=gpt-4o-mini
